services:
  server:
    container_name: confy-server
    image: 'confy-server:${TAG-latest}'
    restart: always
    build: .
    volumes:
      - .:/code
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  web:
    container_name: web-confy-server
    image: nginx:stable-alpine
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "9000:80"
    environment:
      - NGINX_PORT=80
    depends_on:
      - server
  
  redis:
    image: redis:alpine
    container_name: confy-redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  redis_data: