name: Test

on: [ push, pull_request ]

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    env:
      PYTHON_COLORS: 0

    steps:
      - name: Copy files from repo
        uses: actions/checkout@v6
      
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
      
      - name: Install dependencies
        run: poetry install
      
      - name: Run Ruff
        run: poetry run ruff check .; poetry run ruff check . --diff

      - name: Run Radon
        run: poetry run radon cc ./server -a -na
      
      - name: Run Bandit
        run: poetry run bandit -r ./server

      - name: Run MyPy
        run: poetry run mypy -p server -p tests --ignore-missing-imports

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: code-quality
    steps:
      - name: Copy files from repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false

      - name: Install dependencies
        run: poetry install

      - name: Run Tests
        run: poetry run pytest -s -x --cov=server -vv

  test-with-coverage:
    name: Run Tests on Python 3.14
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Copy files from repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false

      - name: Install dependencies
        run: poetry install

      - name: Run Tests
        run: poetry run task test

      - name: Store coverage files
        uses: actions/upload-artifact@v7
        with:
          name: coverage-html
          path: htmlcov
